@include media (desktop){

#navFont{
    font-family: $fontVariable;
    color: antiquewhite;
}    
    
.logoImg{
    width: 100px;
    height: 100px;
    border-radius: 15%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    object-fit: contain;
    list-style: none;
}

.contenedorInicio{
    font-family: $fontVariable;
    font-size: $textLg;
    color: antiquewhite;
}



.contenedorSection{
    font-family: $fontVariable;
    font-size: $textLg;
    color: antiquewhite;

    p{
        font-size: $textSm;
    }

}
  }

@include media (tablet){

    .logoImg{
        width: 100px;
        height: 100px;
        border-radius: 15%;
    }
    
    .contenedorInicio{
        font-family: $fontVariable;
        font-size: $textLg;
        color: antiquewhite;
    }
    
    .contenedorSection{
        font-family: $fontVariable;
        font-size: $textMd;
        color: antiquewhite;
    
        p{
            font-size: $textSm;
        }
       }

}


@include media (mobile){

    .logoImg{
        width: 100px;
        height: 100px;
        border-radius: 15%;
    }
    
    .contenedorInicio{
        font-family: $fontVariable;
        font-size: $textLg;
        color: antiquewhite;
    }
    
    .contenedorSection{
        font-family: $fontVariable;
        font-size: $textMd;
        color: antiquewhite;
    
        p{
            font-size: $textSm;
        }
           }
    
}